<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class = 'mx-8 my-8'>
        <h1 class="mb-4 text-3xl">Blog Articles</h1>
        <a href = '/articles/new' class = 'bg-green-400 px-2 py-1 rounded font-bolder'>New Article</a>

        <% articles.forEach(article => { %>
             <div class = "max-w-sm rounded overflow-hidden shadow-2xl mt-4 border p-5">
                  <div class = 'my-4'>
                      <h4 class = 'text-2xl font-bold'><%= article.title %></h4>
                  </div>
                  <div>
                     <%= article.createdAt.toLocaleDateString() %> 
                  </div>
                  <div class = 'my-4'>
                      <%= article.description %>
                  </div>
                  <a href = 'articles/<%= article.slug %>' class = 'bg-sky-500 px-2 py-1 rounded border hover:border-black m-5'>Read more</a>
                  <form action = '/articles/<%= article.id %>?_method=DELETE' method = 'POST'>
                      <button type = "submit" class = 'bg-pink-500 px-2 py-1 rounded border hover:border-black m-5'>delete</button>
                  </form>
                </div>
        <%}) %>
    </div>
</body>
</html>